<div class="header">

<img src="{{ url_for('static', filename='images/logo.png') }}">

<h1>LactoCart</h1>

</div>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<div class="header">

<img src="{{ url_for('static', filename='images/logo.png') }}">
<h1>LactoCart</h1>

</div>

<div class="grid">

<div class="product">
<img src="/static/images/amul_butter.png">
<p>Amul Butter</p>
<a href="/add_to_cart/Amul Butter"><button>Add</button></a>
</div>

<div class="product">
<img src="/static/images/heritage_butter.png">
<p>Heritage Butter</p>
<a href="/add_to_cart/Heritage Butter"><button>Add</button></a>
</div>

</div>