<!DOCTYPE html>
<html>

<head>
<title>Your Cart</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="header">
<img src="{{ url_for('static', filename='images/logo.png') }}">
<h1>LactoCart</h1>
</div>

<div class="center-box">

<div class="box">

<h2>Your Cart</h2>

<table border="1" style="margin:auto">

<tr>
<th>Product</th>
<th>Price</th>
</tr>

{% for item in items %}

<tr>
<td>{{ item.name }}</td>
<td>₹{{ item.price }}</td>
</tr>

{% endfor %}

</table>

<br>

<h3>Total: ₹{{ total }}</h3>

<br>

<a href="/payment">
<button>Proceed to Payment</button>
</a>

</div>

</div>

</body>
</html>