<div class="header">

<img src="{{ url_for('static', filename='images/logo.png') }}">

<h1>LactoCart</h1>

<a href="/cart" style="margin-left:auto;font-size:20px;text-decoration:none;">
🛒 Cart
</a>

</div>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


</div>

<div class="grid">

<div class="product">
<img src="/static/images/amul_curd.png">
<p>Amul Curd</p>
<a href="/add_to_cart/Amul Curd"><button>Add</button></a>
</div>

<div class="product">
<img src="/static/images/motherdairy_curd.png">
<p>Mother Dairy Curd</p>
<a href="/add_to_cart/Mother Dairy Curd"><button>Add</button></a>
</div>

</div>