<!DOCTYPE html>
<html>

<head>

<title>Milk Products</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="header">

<img src="{{ url_for('static', filename='images/logo.png') }}">

<h1>LactoCart</h1>

<a href="/cart" style="margin-left:auto;font-size:20px;text-decoration:none;">
🛒 Cart
</a>

</div>

<h2 style="text-align:center;">Milk Products</h2>

<div class="grid">

<div class="product">

<img src="/static/images/amul_milk.png">

<p>Amul Milk</p>

<a href="/add_to_cart/Amul Milk">
<button>Add to Cart</button>
</a>

</div>


<div class="product">

<img src="/static/images/mother_milk.png">

<p>Mother Dairy Milk</p>

<a href="/add_to_cart/Mother Dairy Milk">
<button>Add to Cart</button>
</a>

</div>

</div>

</body>
</html>