<!DOCTYPE html>
<html>

<head>

<title>LactoCart Receipt</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="header">

<img src="{{ url_for('static', filename='images/logo.png') }}">
<h1>LactoCart</h1>

</div>


<div class="center-box">

<div class="box" style="width:500px">

<h1>Order Receipt</h1>

<hr>

<table border="1" style="margin:auto;font-size:18px">

<tr>
<th>Product</th>
<th>Price</th>
</tr>

{% for item in items %}

<tr>
<td>{{ item.name }}</td>
<td>₹{{ item.price }}</td>
</tr>

{% endfor %}

</table>

<br>

<h2>Total Amount: ₹{{ total }}</h2>

<hr>

<h3>Payment Method</h3>

<p>Cash On Delivery</p>

<br>

<h3>Important Instructions</h3>

<p>
✔ Your dairy products will arrive within 30 minutes  
✔ Please keep cash ready for payment  
✔ Ensure someone is available to receive the order  
✔ For support contact LactoCart helpdesk
</p>

<br>

<h2>Thank you for choosing LactoCart 🥛</h2>

</div>

</div>

</body>
</html>