<div class="header">

<img src="{{ url_for('static', filename='images/logo.png') }}">

<h1>LactoCart</h1>

<a href="/cart" style="margin-left:auto;font-size:20px;text-decoration:none;">
🛒 Cart
</a>

</div>
<!DOCTYPE html>
<html>
<head>

<title>LactoCart Shop</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>



<div class="grid">

<div class="product">
<img src="/static/images/milk.png">
<h3>Milk</h3>
<a href="/milk"><button>View</button></a>
</div>

<div class="product">
<img src="/static/images/curd.png">
<h3>Curd</h3>
<a href="/curd"><button>View</button></a>
</div>

<div class="product">
<img src="/static/images/cheese.png">
<h3>Cheese</h3>
<a href="/cheese"><button>View</button></a>
</div>

<div class="product">
<img src="/static/images/butter.png">
<h3>Butter</h3>
<a href="/butter"><button>View</button></a>
</div>

</div>

</body>
</html>