<link rel="stylesheet" href="/static/style.css">
{% include 'header.html' %}

<div class="grid">

<a href="/products/milk" class="product">
<img src="/static/images/milk.png">
<h3>Milk</h3>
</a>

<a href="/products/curd" class="product">
<img src="/static/images/curd.png">
<h3>Curd</h3>
</a>

<a href="/products/butter" class="product">
<img src="/static/images/butter.png">
<h3>Butter</h3>
</a>

<a href="/products/cheese" class="product">
<img src="/static/images/cheese.png">
<h3>Cheese</h3>
</a>
<a href="/products/paneer" class="product">
<img src="/static/images/paneer.png">
<h3>Paneer</h3>
</a>

<a href="/products/buttermilk" class="product">
<img src="/static/images/buttermilk.png">
<h3>Buttermilk</h3>
</a>

<a href="/products/lassi" class="product">
<img src="/static/images/lassi.png">
<h3>Lassi</h3>
</a>

<a href="/products/icecream" class="product">
<img src="/static/images/icecream.png">
<h3>Ice Cream</h3>
</a>

<a href="/products/ghee" class="product">
<img src="/static/images/ghee.png">
<h3>Ghee</h3>
</a>
<a href="/products/flavoured_milk" class="product">
<img src="/static/images/flavoured_milk.png">
<h3>Flavoured Milk</h3>
</a>

<a href="/products/yogurt" class="product">
<img src="/static/images/yogurt.png">
<h3>Yogurt</h3>
</a>

<a href="/products/cream" class="product">
<img src="/static/images/cream.png">
<h3>Cream</h3>
</a>

<a href="/products/milk_powder" class="product">
<img src="/static/images/milk_powder.png">
<h3>Milk Powder</h3>
</a>

<a href="/products/desserts" class="product">
<img src="/static/images/desserts.png">
<h3>Desserts</h3>
</a>
</div>